﻿@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <label>Usuario: <strong>@User.Identity.GetUserName()</strong></label>
        <br />
        <a onclick="javascript:document.getElementById('logoutForm').submit()">Cerrar sesión</a>
    }
}
