﻿@using app_evaluation.Models
@model LoginViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="~/Content/login.css" rel="stylesheet" />
</head>
<body>
    <!------ Include the above in your HEAD tag ---------->
    <div class="wrapper fadeInDown">
        <div id="formContent">
            <br />
            <div class="fadeIn first">
                <h4>Login</h4>
            </div>
            <!-- Login Form -->
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
            {
                @Html.AntiForgeryToken()
                <hr />
                if (Model.InvalidLogin)
                {
                    <div class="alert alert-danger" role="alert">
                        Usuario y/o Contraseña invalidos.
                    </div>
                }
                <div>
                    @Html.TextBoxFor(m => m.UserName, new { @class = "fadeIn second", placeholder = "usuario" })
                    <br />
                    @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
                </div>
                <div>
                    @Html.PasswordFor(m => m.Password, new { @class = "fadeIn third", placeholder = "contraseña" })
                    <br />
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                </div>
                <br />
                <div class="checkbox">
                    @Html.CheckBoxFor(m => m.RememberMe)
                    @Html.LabelFor(m => m.RememberMe)
                </div>
                <input type="submit" value="Iniciar sesión" class="fadeIn fourth" />
            }
            <!-- Remind Passowrd -->
            <div id="formFooter">
                <a href="/User/Create" class="underlineHover">Crear Cuenta</a>
            </div>
        </div>
    </div>

    @*@section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }*@
</body>
</html>
