﻿
@{
    ViewBag.Title = "Crear Usuario";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row" ng-controller="user.controller">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <strong>Registro de Usuario</strong>
            </div>
            <div class="card-body">
                <div class="alert alert-danger" role="alert" ng-show="showAlertExists">
                    El usuario y/o contraseña ya se encuentran registrados.
                </div>
                <form ng-submit="save(user, frmCreate)" name="frmCreate" class="needs-validation">
                    <div class="form-group">
                        <label for="user">Usuario*</label>
                        <input type="text" class="form-control col-md-12" id="user" ng-model="user.userName" required>
                    </div>
                    <div class="form-group">
                        <label for="password">Contraseña*</label>
                        <input type="password" class="form-control col-md-12" id="password" name="password" required
                               maxlength="10"
                               ng-model="user.password"
                               ng-pattern="/^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])\w{10,}$/">
                        <span class="alert-danger"
                              ng-show="frmCreate.password.$invalid && frmCreate.password.$dirty">Almenos 1 Mayusq, Minusq, número, 10 caractéres</span>
                    </div>
                    <div class="form-group">
                        <label for="name">Nombre*</label>
                        <input type="text" class="form-control col-md-12" id="name" ng-model="user.name" required>
                        {{frmCreate.name.$valid}}
                    </div>
                    <div class="form-group">
                        <label for="lastName">Apellidos</label>
                        <input type="text" class="form-control col-md-12" id="lastName" ng-model="user.lastName" required>
                    </div>
                    <div class="form-group">
                        <label for="email">Correo Electrónico*</label>
                        <input type="email" class="form-control col-md-12" id="email" ng-model="user.email" required>
                    </div>
                    <div>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" id="active" class="custom-control-input" ng-model="user.status" value="active">
                            <label class="custom-control-label" for="active">Activo</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" id="inactive" class="custom-control-input" ng-model="user.status" value="inactive">
                            <label class="custom-control-label" for="inactive">Inactivo</label>
                        </div>
                    </div>
                    <br />
                    <div>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" id="male" class="custom-control-input" ng-model="user.gender" value="male">
                            <label class="custom-control-label" for="male">Masculino</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" id="female" class="custom-control-input" ng-model="user.gender" value="female">
                            <label class="custom-control-label" for="female">Femenino</label>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-12">
                            <button type="submit" class="btn btn-primary btn-sm">Registrar</button>
                            <a href="/User/Index" class="btn btn-secondary btn-sm">Cancelar</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script src="~/App/User/user.controller.js"></script>
    <script src="~/App/User/user.service.js"></script>
}
