﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Lista de Usuarios</h2>

<div ng-controller="user.controller">
    <div class="row">
        <div class="col-md-12">
            <a href="/User/Create" class="btn btn-info float-right">Nuevo Usuario</a>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <table id="myTable" class="table">
                                <thead class="thead-dark">
                                    <tr>
                                        <th>ID</th>
                                        <th>Usuario</th>
                                        <th>Correo</th>
                                        <th>Sexo</th>
                                        <th>Estatus</th>
                                        <th>Accciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="user in users">
                                        <td>{{user.id}}</td>
                                        <td>{{user.user_name}}</td>
                                        <td>{{user.email}}</td>
                                        <td>{{user.gender}}</td>
                                        <td>{{user.status ? 'Activo' : 'Inactivo'}}</td>
                                        <td>
                                            <!-- Button trigger edit modal -->
                                            <button type="button"
                                                    class="btn btn-info"
                                                    data-toggle="modal"
                                                    data-target="#editModal"
                                                    ng-click="getDataUser(user)">
                                                Editar
                                            </button>
                                            <button type="button"
                                                    class="btn btn-warning"
                                                    ng-click="deleteUser(user.id)">
                                                Eliminar
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Editar Usuario</h5>
                    <button type="button" class="close" aria-label="Close" ng-click="closeModal()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="alert alert-danger" role="alert" ng-show="isPasswordInvalid">
                        Las Contraseñas no coinciden, favor de verificar.
                    </div>
                    <form ng-submit="edit(userSelected, frmEditUser)" name="frmEditUser">
                        <div class="form-group">
                            <label for="user">Usuario</label>
                            <input type="text" class="form-control col-md-12" id="user" ng-model="userSelected.user_name" required>
                        </div>
                        <div class="form-group">
                            <label for="password">Nueva Contraseña</label>
                            <input type="password" class="form-control col-md-12" id="password" name="password"
                                   maxlength="10"
                                   ng-model="userSelected.password"
                                   ng-pattern="/^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])\w{10,}$/">
                            <span class="alert-danger"
                                  ng-show="frmEditUser.password.$invalid && frmEditUser.password.$dirty">Almenos 1 Mayusq, Minusq, número, 10 caractéres</span>

                        </div>
                        <div class="form-group">
                            <label for="password">Confirmar Contraseña</label>
                            <input type="password" class="form-control col-md-12" id="password" name="confirmPassword"
                                   ng-model="userSelected.confirmPassword"
                                   ng-required="userSelected.password"
                                   ng-pattern="/^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])\w{10,}$/">
                            <span class="alert-danger"
                                  ng-show="frmEditUser.confirmPassword.$invalid && frmEditUser.confirmPassword.$dirty">Almenos 1 Mayusq, Minusq, número, 10 caractéres</span>
                        </div>
                        <div class="form-group">
                            <label for="email">Correo Electrónico</label>
                            <input type="email" class="form-control col-md-12" id="email" ng-model="userSelected.email" required>
                        </div>
                        <div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="active" class="custom-control-input" ng-model="userSelected.status" value="active">
                                <label class="custom-control-label" for="active">Activo</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="inactive" class="custom-control-input" ng-model="userSelected.status">
                                <label class="custom-control-label" for="inactive">Inactivo</label>
                            </div>
                        </div>
                        <br />
                        <button type="button" class="btn btn-secondary" ng-click="closeModal()">Cancelar</button>
                        <button type="submit" class="btn btn-primary">Editar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <script src="//cdn.datatables.net/1.10.10/js/jquery.dataTables.min.js"></script>
    <script src="~/App/User/user.controller.js"></script>
    <script src="~/App/User/user.service.js"></script>
    <script>
        $(document).ready(function () {
            setTimeout(function () { $('#myTable').DataTable(); }, 1000);
        });
    </script>
}
